

<form [formGroup]="form">

  <h1>Sections:</h1>
  <div *ngFor="let section of sections">
    <h3>{{ section }}</h3>
    <div *ngFor="let question of questions">
      <div *ngIf="question.section === section">
        <label [for]="question.control">{{ question.label }}</label>
        <input type="text" [formControlName]="question.control"><span>  /  {{question.marks}}</span>
      </div>
    </div>
  </div>

  <div>
    <label for="">Feedback: </label><br>
    <input class="large" width="500px" type="text">
  </div>

  <!-- <div>

    <h1>Git</h1>
    <label
    for="q1">1)	Forked repository correctly ( / 1)</label><br>
    <input
      formControlName="q1"
      type="text"
      id="q1"
      name="q1">
  </div>

  <div>
    <h1>Routing</h1>
    <label
    for="q1">1)	Forked repository correctly ( / 1)</label><br>
    <input
      formControlName="q2"
      type="text"
      id="q2"
      name="q2">
  </div> -->
  
  <h3>Total: {{totalMarks}} /  {{fullMarks}}</h3>

  <button (click)="submit()">Submit</button>
  <button (click)="populateFullMarks()">Populate Full Marks</button>
</form>




