

<form [formGroup]="form">
  <div>
    <label
      [class.error]="!form.get('firstName')?.valid && form.get('firstName')?.touched"
      for="fname">First name:</label><br>
    <input
      [class.error]="!form.get('firstName')?.valid && form.get('firstName')?.touched"
      formControlName="firstName"
      type="text"
      id="fname"
      name="fname">
  </div>
  <div>
    <label for="lname">Last name:</label><br>
    <input
      [class.error]="!form.get('lastName')?.valid && form.get('lastName')?.touched"
      formControlName="lastName"
      type="text"
      id="lname"
      name="lname">
  </div>

  <div>
    Favorite Framework: <br>
    <input formControlName="favoriteFramework" type="radio" id="angular" name="favoriteFramework" value="angular">
    <label for="angular">Angular</label><br>
    <input formControlName="favoriteFramework" type="radio" id="react" name="favoriteFramework" value="react">
    <label for="react">React</label><br>
    <input formControlName="favoriteFramework" type="radio" id="vue" name="favoriteFramework" value="vue">
    <label for="vue">Vue</label><br>
  </div>


  <div>
    Favorite Language: <br>
    <input formControlName="csharp" type="checkbox" id="csharp" name="csharp" value="csharp">
    <label for="csharp"> C#</label><br>
    <input formControlName="java" type="checkbox" id="java" name="java" value="java">
    <label for="java"> Java</label><br>
    <input formControlName="javaScript" type="checkbox" id="javascript" name="javascript" value="javascript">
    <label for="javascript"> JavaScript</label><br>
  </div>


  <button [disabled]="!form.valid" (click)="submit()">Submit</button>
</form>




